<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"/>
    <style>
        body {
            background-color: #f0f2ed ;
            font-family: 'Montserrat', sans-serif;
        }
        .tabs>div {
            border: 1px solid #C0C0C0;
            background: #FFFFFF;
        }
        .tabs>label {
            position: relative;
            background: rgb(247, 247, 247);
            background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
            background-image: -webkit-linear-gradient(top, #fff, #ddd);
            background-image: -moz-linear-gradient(top, #fff, #ddd);
            background-image: -ms-linear-gradient(top, #fff, #ddd);
            background-image: -o-linear-gradient(top, #fff, #ddd);
            background-image: linear-gradient(to bottom, #fff, #ddd);
            padding: .7em 1.5em;
            float: left;
            text-decoration: none;
            color: #868686;
            text-shadow: 0 1px 0 rgba(255,255,255,.8);
            -webkit-border-radius: 5px 0 0 0;
            -moz-border-radius: 5px 0 0 0;
            border-radius: 5px 0 0 0;
            -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
            -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
            box-shadow: 0 2px 2px rgba(0,0,0,.4);
            font-size: 18px;
            font-weight: 700;
        }
        .tabs>input:checked + label {
            color: #868686;
            border-bottom: 1px solid #FFFFFF;
            background: #FFFFFF;
        }
        #tab_1:checked ~ #txt_1,
        #tab_2:checked ~ #txt_2,
        #tab_3:checked ~ #txt_3,
        #tab_4:checked ~ #txt_4 { display: block; }

        header {
            background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 20px, #f8f4ebd2 20px, #f8f4eb 40px);
            box-shadow: 0 4px 6px rgba(0,0,0,.2);
        }
        li {
            display: inline-block;
            margin-left: 25px;
            transition: .5s linear;
        }
        li a:hover:after{
            width: 100%;
        }
    </style>

    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light"
     style="height: 70px;">

    <a class="navbar-brand" href="{{ path('home') }}">tech transfer center</a>
    <ul class="nav navbar-nav navbar-left">
        <li>
            <a class="nav-link" href="{{ path('view_orders') }}">Список заказов</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('home') }}">Список статей</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('products') }}">Производимая продукция</a>
        </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    {% if app.user %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link" href="{{ path('create_order') }}">Создать заказ</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('create_post') }}">Создать статью</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('app_logout') }}">Выйти</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('password_change') }}">Поменять пароль</a>
        </li>
        <li>
            <a class="nav-link" href="{{ path('profile', {'author_id': app.user.id }) }}">{{ app.user.username }}</a>
        </li>

    </ul>
    {% endif %}

    {% if not app.user %}
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" href="{{ path('app_login') }}">Войти</a></li>
        <li>
            <a class="nav-link" href="{{ path('app_register') }}">Регистрация</a>
        </li>
    </ul>
    {% endif %}

</nav>
{% block body %}
{% endblock %}
</body>
</html>
